<div class="hero-unit">
	<h1>Wellcome to FreeMarket!</h1>
	<p>This is a demo for the coolest app ever
	go to <%=link_to "arabic2use", "http://www.arabic2use.co.il" %>
	for free arabic lessons on-line

	</p>

	<p>
		<%=link_to "Sign Up Now!", "#", class: "btn btn-warning btn-large"%>
	</p>
</div>

